Assignment_3/xsd/nffgVerifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/nffgVerifier"
	xmlns:tns="http://www.example.org/nffgVerifier" elementFormDefault="qualified">
	<element name="verifier">
		<complexType>
			<sequence>
				<element ref="tns:nffg" minOccurs="0" maxOccurs="unbounded" />
				<element ref="tns:policy" minOccurs="0" maxOccurs="unbounded" />
				<!-- TODO where are policies? inside nffg? -->
			</sequence>
		</complexType>
	</element>
	<element name="nffg">
		<complexType>
			<sequence>
				<element name="node" maxOccurs="unbounded" type="tns:node_t" />
			</sequence>
		</complexType>
	</element>
	<element name="policy">
		<complexType>
			<!-- TODO -->
		</complexType>
	</element>




	<complexType name="node_t">
		<!-- TODO -->
	</complexType>
</schema>